<p-button [text]="true" [disabled]="disabled" (onClick)="uploadClick.emit()" [fluid]="true">
	<div class="column gap center wrapper">
		<div class="spacing"></div>
		<div class="row gap-small">
			<i class="pi pi-upload" style="opacity: 0"></i>
			<i class="pi pi-upload" style="font-size: 4rem"></i>
			<div class="column gap-small">
				@for (icon of icons; track $index) {
					<i [class]="'pi ' + icon"></i>
				}
			</div>
		</div>
		<div>{{ title }}</div>
		<div class="spacing"></div>
	</div>
</p-button>
