<ng-container *transloco="let t">
	<div class="column gap">
		<div class="row gap-small">
			<p-button [label]="t('displays.addGroup')" icon="pi pi-plus" (onClick)="addGroup()"/>
			<app-save-button successTranslationKey="displays.success" errorTranslationKey="displays.error" [payloadProvider]="() => save()"/>
		</div>

		@if (getDisplayGroups().length > 0) {
			<p-panel [showHeader]="false">
				<div class="accordionWrapper">
					<p-accordion [multiple]="true">
						@for (displayGroup of getDisplayGroups(); track $index; let groupIndex = $index) {
							<p-accordion-panel [class]="groupIndex === $count - 1 ? 'lastAccordionPanel' : ''" [value]="groupIndex">
								<p-accordion-header>
									<div class="row gap center header">
										<div class="column spacing">
											<div>{{ t('displays.group', {index: groupIndex + 1}) }}</div>
											<div class="subtitle">{{ getGroupTitle(displayGroup) }}</div>
										</div>
										<app-sort-and-delete-buttons [data]="getDisplayGroups()" [index]="groupIndex" [count]="$count"/>
										<div></div>
									</div>
								</p-accordion-header>

								<p-accordion-content>
									<div class="row gap">
										@for (board of boards; track $index; let boardIndex = $index) {
											<p-panel class="spacing" [header]="t('displays.display', {index: boardIndex + 1})">
												<div class="column gap">
													<div class="subtitle">{{ board.type.toUpperCase() }} ({{ board.width }}×{{ board.height }})</div>

													@for (fileName of displayGroup[boardIndex]; track $index; let displayIndex = $index) {
														<div class="row gap center">
															<app-canvas class="spacing" [fileName]="fileName"></app-canvas>
															<app-sort-and-delete-buttons [data]="displayGroup[boardIndex]" [index]="displayIndex" [count]="$count"/>
														</div>
													}
												</div>

												<ng-template #footer>
													<p-button icon="pi pi-plus" (onClick)="openDialog(library, groupIndex, boardIndex)" rounded text [pTooltip]="t('displays.addDisplay')" tooltipPosition="bottom"/>
												</ng-template>
											</p-panel>
										}
									</div>
								</p-accordion-content>
							</p-accordion-panel>
						}
					</p-accordion>
				</div>
			</p-panel>
		}
	</div>

	<app-library #library/>
</ng-container>
