.header {
	width: 100%;
}

.subtitle {
	font-weight: normal;
	font-size: 0.8rem;
}

.lastAccordionPanel {
	--p-accordion-panel-border-width: 0;
}

.accordionWrapper {
	margin: 0 -1.125rem -1.125rem -1.125rem;
}
