<div *transloco="let t" class="column wrapper">
	<div class="row gap center padding-top-bottom padding-sides">
		<h2 class="spacing">{{ t('title') }}</h2>
		<div class="row center">
			<p-button [icon]="getThemeIcon()" (onClick)="toggleTheme()" rounded text severity="secondary" [pTooltip]="t(getThemeTranslationKey())" tooltipPosition="left"/>
			<p-button icon="pi pi-language" (onClick)="menu.toggle($event)" rounded text severity="secondary" [pTooltip]="t('menu.language')" tooltipPosition="left"/>
			<p-menu #menu [model]="languageMenuItems" [popup]="true"/>
		</div>
	</div>
	<p-tabs class="wrapper" value="0">
		<p-tablist>
			<p-tab value="0">
				<div class="row gap-small center">
					<i class="pi pi-desktop"></i>
					<div>{{ t('tab.displays') }}</div>
				</div>
			</p-tab>
			<p-tab value="1">
				<div class="row gap-small center">
					<i class="pi pi-cog"></i>
					<div>{{ t('tab.settings') }}</div>
				</div>
			</p-tab>
		</p-tablist>
		<p-tabpanels class="wrapper">
			<p-tabpanel value="0">
				<div class="padding-top-bottom padding-sides content">
					<app-displays/>
				</div>
			</p-tabpanel>
			<p-tabpanel value="1">
				<div class="padding-top-bottom padding-sides content">

				</div>
			</p-tabpanel>
		</p-tabpanels>
	</p-tabs>
</div>
