<div *transloco="let t" class="column center wrapper">
	@if (getDataInitialized()) {
		<div class="row gap center title">
			<h1 class="spacing">{{ t('title') }}</h1>
			<div class="row">
				<p-button icon="pi pi-images" [rounded]="true" [text]="true" [pTooltip]="t('title.raw-image-manager')" tooltipPosition="bottom" (onClick)="openRawImageManager()"/>
				<p-button icon="pi pi-cog" [rounded]="true" [text]="true" [pTooltip]="t('tooltip.settings')" tooltipPosition="bottom" (onClick)="menu.toggle($event)"/>
				<p-tiered-menu #menu [model]="menuItems" [popup]="true"/>
			</div>
		</div>
		<div class="row gap cards wrapper">
			@for (_ of getDisplays(); track $index) {
				<app-display-config class="card" [displayIndex]="$index"/>
			}
		</div>
	} @else {
		<div class="spacing"></div>
		<p-progressSpinner/>
		<div class="spacing"></div>
	}

	<app-raw-image-manager/>
</div>
