/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 999 version
*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

:root {
	--backgroundColor: #FFFFFF;
	--accentColorDisabled: #DDDDDD;
	--textColorDisabled: #BBBBBB;
	--accentColor: #999999;
	--accentColorButtonHover: #777777;
	--accentColorLinkHover: #777777;
	--textColorLink: #222222;
	--textColor: #000000;
	/*Hover: 60% opacity on white*/
	/*Disabled: 20% opacity on white*/
	--blue: #4169E1;
	--blueHover: #8DA5ED;
	--blueDisabled: #D9E1F9;
	--red: #CC0000;
	--redHover: #E06666;
	--redDisabled: #F5CCCC;
	--green: #008000;
	--greenHover: #66B366;
	--greenDisabled: #CCE6CC;
	--yellow: #FFFF00;
	--yellowHover: #FFFF66;
	--yellowDisabled: #FFFFCC;
}

@media (prefers-color-scheme: dark) {
	:root {
		--backgroundColor: #000000;
		--accentColorDisabled: #222222;
		--textColorDisabled: #666666;
		--accentColor: #666666;
		--accentColorButtonHover: #888888;
		--accentColorLinkHover: #AAAAAA;
		--textColorLink: #DDDDDD;
		--textColor: #FFFFFF;
		/*Hover: 80% opacity on black*/
		/*Disabled: 40% opacity on black*/
		--blue: #6090FF;
		--blueHover: #4D73CC;
		--blueDisabled: #263A66;
		--red: #CC0000;
		--redHover: #A30000;
		--redDisabled: #520000;
		--green: #00CC00;
		--greenHover: #00A300;
		--greenDisabled: #005200;
		--yellow: #CCCC00;
		--yellowHover: #A3A300;
		--yellowDisabled: #525200;
	}
}

:root {
	--textSize: 1em;
}

* {
	font-family: "Noto Sans", sans-serif;
}

body {
	background-color: var(--backgroundColor);
	color: var(--textColor);
	margin: 0;
}

p {
	font-size: var(--textSize);
}

input {
	margin: 0.25em;
}

a {
	cursor: pointer;
	color: var(--textColorLink);
	text-decoration: underline;
	transition: color 0.1s;
}

a:hover {
	color: var(--accentColorLinkHover);
}

a:active {
	color: var(--accentColor);
}

a.no_underline {
	text-decoration: none;
}

a.disabled {
	color: var(--textColorDisabled);
	cursor: auto;
	text-decoration: none;
}

table {
	margin: auto;
	text-align: center;
}

table, th, td {
	border-collapse: collapse;
}

th, td {
	padding: 0.5em 0.25em;
}

td.text_width {
	min-width: 9em;
}

td.min_width_3 {
	min-width: 3em;
}

td.min_width_4 {
	min-width: 4em;
}

td.fill_width {
	max-width: 0;
	width: 100%;
}

canvas.extra_borders {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

canvas.all_borders {
	border: 1px solid black;
}

img {
	border: 1px solid var(--textColor);
}

.row {
	display: flex;
	height: 100%;
}

.menu {
	background: var(--accentColorDisabled);
	text-align: center;
}

.content {
	flex: 100%;
	max-height: 100%;
	overflow-y: auto;
	padding: 2em;
	text-align: center;
}

.tab {
	background: var(--accentColor);
	color: white;
	cursor: pointer;
	margin: 0;
	padding: 1em;
	text-align: center;
	transition: background 0.1s;
	width: 10em;
}

.tab:hover {
	background: var(--accentColorButtonHover);
}

.tab.selected {
	background: var(--accentColorButtonHover);
}

.input_button {
	background-color: var(--accentColor);
	border: none;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: var(--textSize);
	padding: 1em;
	text-align: center;
	transition: background 0.1s;
}

.input_button:hover {
	background-color: var(--accentColorButtonHover);
}

.input_button:disabled {
	background-color: var(--accentColorDisabled);
	color: var(--textColorDisabled);
	cursor: auto;
}

.input_text {
	background-color: transparent;
	border: 1px solid var(--accentColor);
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	color: var(--textColor);
	display: inline-block;
	font-size: var(--textSize);
	padding: 1em;
	text-align: left;
	width: 100%;
}

.input_file::-webkit-file-upload-button {
	visibility: hidden;
}

.input_file {
	height: 0.1px;
	width: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input_file + label {
	background-color: var(--accentColor);
	border: none;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: var(--textSize);
	margin: 0.25em;
	padding: 1em;
	text-align: center;
	transition: background 0.1s;
}

.input_file:hover + label {
	background-color: var(--accentColorButtonHover);
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	background: var(--accentColorDisabled);
	margin: 0;
	outline: none;
	transition: background 0.1s;
	width: 100%;
}

.slider:hover {
	background: var(--accentColor);
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	background: var(--textColorLink);
	cursor: pointer;
	height: 1em;
	width: 1em;
}

.slider::-moz-range-thumb {
	background: var(--textColorLink);
	cursor: pointer;
	height: 1em;
	width: 1em;
}

.bottom_line {
	border-bottom: 1px solid var(--textColorDisabled);
}

.scroll_box {
	max-width: 100%;
	overflow-x: scroll;
	white-space: nowrap;
	width: fit-content;
}

.scroll_box.canvas_box {
	border: 1px white solid;
	box-sizing: border-box;
	margin: auto;
	overflow-x: auto;
}
