/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 999 version
*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

:root {
	--backgroundColor: #FFFFFF;
	--accentColorDisabled: #DDDDDD;
	--textColorDisabled: #BBBBBB;
	--accentColor: #999999;
	--accentColorButtonHover: #777777;
	--accentColorLinkHover: #777777;
	--textColorLink: #222222;
	--textColor: #000000;
	/*Hover: 60% opacity on white*/
	/*Disabled: 20% opacity on white*/
	--blue: #4169E1;
	--blueHover: #8DA5ED;
	--blueDisabled: #D9E1F9;
	--red: #CC0000;
	--redHover: #E06666;
	--redDisabled: #F5CCCC;
	--green: #008000;
	--greenHover: #66B366;
	--greenDisabled: #CCE6CC;
	--yellow: #FFFF00;
	--yellowHover: #FFFF66;
	--yellowDisabled: #FFFFCC;
}

@media (prefers-color-scheme: dark) {
	:root {
		--backgroundColor: #000000;
		--accentColorDisabled: #222222;
		--textColorDisabled: #666666;
		--accentColor: #666666;
		--accentColorButtonHover: #888888;
		--accentColorLinkHover: #AAAAAA;
		--textColorLink: #DDDDDD;
		--textColor: #FFFFFF;
		/*Hover: 80% opacity on black*/
		/*Disabled: 40% opacity on black*/
		--blue: #6090FF;
		--blueHover: #4D73CC;
		--blueDisabled: #263A66;
		--red: #CC0000;
		--redHover: #A30000;
		--redDisabled: #520000;
		--green: #00CC00;
		--greenHover: #00A300;
		--greenDisabled: #005200;
		--yellow: #CCCC00;
		--yellowHover: #A3A300;
		--yellowDisabled: #525200;
	}
}

:root {
	--textSize: 1em;
}

* {
	font-family: "Noto Sans", sans-serif;
}

body {
	background-color: var(--backgroundColor);
	color: var(--textColor);
	margin: 0;
}

p {
	font-size: var(--textSize);
}

.row {
	display: flex;
	height: 100%;
}

.menu {
	background: var(--accentColorDisabled);
	text-align: center;
}

.content {
	flex: 100%;
	padding: 1em;
	text-align: center;
}

.tab {
	background: var(--accentColor);
	color: white;
	cursor: pointer;
	margin: 0;
	padding: 1em;
	text-align: center;
	transition: background 0.1s;
	width: 10em;
}

.tab:hover {
	background: var(--accentColorButtonHover);
}

.tab.selected {
	background: var(--accentColorButtonHover);
}

.input_button {
	background-color: var(--accentColor);
	border: none;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: var(--textSize);
	padding: 1em;
	text-align: center;
}

.input_button:hover {
	background-color: var(--accentColorButtonHover);
}

.input_button:disabled {
	background-color: var(--accentColorDisabled);
	color: var(--textColorDisabled);
	cursor: auto;
}

.input_text {
	background-color: transparent;
	border: 1px solid var(--accentColor);
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	color: var(--textColor);
	display: inline-block;
	font-size: var(--textSize);
	padding: 1em;
	text-align: left;
}
