<app-dialog *transloco="let t" [title]="t('title.write-to-directory')" [(visible)]="writeToDirectoryDialogVisible" maxWidth="48rem" maxHeight="24rem">
	<div header class="row center">
		@if (state() === "success") {
			<div class="row gap">
				<p-message severity="success" icon="pi pi-check-circle">{{ t('message.write-to-directory-success') }}</p-message>
				<div></div>
			</div>
		} @else if (state() === "error") {
			<div class="row gap">
				<p-message severity="error" icon="pi pi-times-circle">{{ t('message.write-to-directory-failed') }}</p-message>
				<div></div>
			</div>
		}

		@if (loading()) {
			<p-progressSpinner [style]="{width: '2rem', height: '2rem'}"/>
		}
	</div>

	<div content class="column gap wrapper" [formGroup]="formGroup">
		<p-float-label variant="in">
			<input pInputText id="sdCardDirectory" formControlName="directory" [fluid]="true"/>
			<label for="sdCardDirectory">{{ t('input.sd-card-directory') }}</label>
		</p-float-label>

		<div class="row gap">
			<app-upload-button class="spacing wrapper" [icons]="['pi-folder']" [title]="t('title.write-to-directory')" [disabled]="noDirectorySelected() || loading()" (uploadClick)="upload()"/>
		</div>
	</div>
</app-dialog>
