<app-dialog *transloco="let t" [title]="t('title.edit-image')" [(visible)]="visible">
	<div content class="column gap">
		<p-card>
			<div class="column gap">
				<div class="row gap center">
					<div class="spacing">{{ t('instructions.drag-points') }}</div>
					<p-button icon="pi pi-search-minus" [rounded]="true" [text]="true" [pTooltip]="t('zoom-out')" tooltipPosition="bottom" (onClick)="changeZoom1(-0.25)"/>
					<p-slider [min]="minZoom" [max]="maxZoom" [step]="0.01" [(ngModel)]="zoom1" [style]="{width: '16rem'}"/>
					<p-button icon="pi pi-search-plus" [rounded]="true" [text]="true" [pTooltip]="t('zoom-in')" tooltipPosition="bottom" (onClick)="changeZoom1(0.25)"/>
				</div>

				<div class="image-wrapper">
					<img [src]="getImageUrl()" alt="Image" [height]="imageHeight * zoom1"/>
					<app-drag-point class="drag-point-wrapper" [width]="imageWidth" [height]="imageHeight" [zoom]="zoom1" (dragPointMoved)="updateCanvasAndSave()" [dragPoints]="dragPoints"/>
				</div>
			</div>
		</p-card>

		<p-card>
			<div class="column gap">
				<div class="row gap center">
					<div class="spacing">{{ t('title.image-preview') }}</div>
					<p-button icon="pi pi-search-minus" [rounded]="true" [text]="true" [pTooltip]="t('zoom-out')" tooltipPosition="bottom" (onClick)="changeZoom2(-0.25)"/>
					<p-slider [min]="minZoom" [max]="maxZoom" [step]="0.01" [(ngModel)]="zoom2" [style]="{width: '16rem'}"/>
					<p-button icon="pi pi-search-plus" [rounded]="true" [text]="true" [pTooltip]="t('zoom-in')" tooltipPosition="bottom" (onClick)="changeZoom2(0.25)"/>
				</div>

				<div class="image-wrapper">
					<canvas id="canvas" [style]="{width: displayWidth * zoom2 + 'px', height: displayHeight * zoom2 + 'px'}" [width]="displayWidth" [height]="displayHeight"></canvas>
				</div>
				<div class="row gap-small" [formGroup]="formGroup">
					<app-input-number-with-slider class="spacing" [childFormGroup]="formGroup" childFormControlName="editContrast" [label]="t('input.editContrast')" [min]="minContrast" [max]="maxContrast"/>
					<app-input-number-with-slider class="spacing" [childFormGroup]="formGroup" childFormControlName="editScale" [label]="t('input.editScale')" [min]="minScale" [max]="maxScale"/>
					<app-input-number-with-slider class="spacing" [childFormGroup]="formGroup" childFormControlName="wipeDuration" [label]="t('input.wipeDuration')" [min]="1" [max]="1024"/>
					<app-input-number-with-slider class="spacing" [childFormGroup]="formGroup" childFormControlName="width" [label]="t('input.width')" [min]="1" [max]="1024"/>
					<app-input-number-with-slider class="spacing" [childFormGroup]="formGroup" childFormControlName="scrollLeftAnchor" [label]="t('input.scrollLeftAnchor')" [min]="1" [max]="1024"/>
					<app-input-number-with-slider class="spacing" [childFormGroup]="formGroup" childFormControlName="scrollRightAnchor" [label]="t('input.scrollRightAnchor')" [min]="1" [max]="1024"/>
				</div>
			</div>
		</p-card>
	</div>
</app-dialog>
