.image-wrapper {
	height: 100%;
	image-rendering: pixelated;
	overflow: auto;
	position: relative;
}

.drag-point-wrapper {
	position: absolute;
	top: 0;
	left: 0;
}

.canvas {
	height: 16rem;
}

.controls {
	max-width: 20rem;
	min-width: 20rem;
}
