<app-dialog *transloco="let t" [title]="t('title.edit-image')" [(visible)]="visible">
	<div header class="row">
		<app-check-button icon="pi-copy" [tooltip]="t('tooltip.copy')" (clickCheckButton)="copyImage()"/>
		<app-check-button icon="pi-clipboard" [tooltip]="t('tooltip.paste')" (clickCheckButton)="pasteImage()"/>
	</div>

	<div content class="row wrapper">
		<div content class="column gap wrapper">
			<div class="column wrapper">
				<div class="row gap center">
					<div class="spacing">{{ t('instructions.drag-points') }}</div>
					<p-button icon="pi pi-search-minus" [rounded]="true" [text]="true" [pTooltip]="t('zoom-out')" tooltipPosition="bottom" (onClick)="changeZoom(-0.25)"/>
					<p-slider [min]="minZoom" [max]="maxZoom" [step]="0.01" [(ngModel)]="zoom" [style]="{width: '16rem'}"/>
					<p-button icon="pi pi-search-plus" [rounded]="true" [text]="true" [pTooltip]="t('zoom-in')" tooltipPosition="bottom" (onClick)="changeZoom(0.25)"/>
				</div>

				<div class="image-wrapper">
					<img [src]="getImageUrl()" alt="Image" [height]="imageHeight() * zoom()"/>
					<app-drag-point class="drag-point-wrapper" [width]="imageWidth()" [height]="imageHeight()" [zoom]="zoom()" (dragPointMoved)="updateCanvasAndSave()" [dragPoints]="dragPoints"/>
				</div>

				<p-divider/>
				<div class="column gap-small">
					<div>{{ t('title.image-preview') }}</div>
					<div class="image-wrapper">
						<canvas id="canvas" class="canvas" [width]="displayWidth()" [height]="displayHeight()"></canvas>
					</div>
				</div>
			</div>
		</div>

		<p-divider layout="vertical"/>

		<div class="column content controls" [formGroup]="formGroup">
			<div class="column gap">
				<app-input-number-with-slider [childFormGroup]="formGroup" childFormControlName="editContrast" [label]="t('input.edit-contrast')" [min]="minContrast" [max]="maxContrast" [defaultValue]="defaultContrast"/>
				<app-input-number-with-slider [childFormGroup]="formGroup" childFormControlName="editScale" [label]="t('input.edit-scale')" [min]="minScale" [max]="maxScale" [defaultValue]="minScale"/>
				<app-input-number-with-slider [childFormGroup]="formGroup" childFormControlName="displayDuration" [label]="t('input.display-duration')" [min]="minDisplayDuration" [max]="maxDisplayDuration" [defaultValue]="defaultDisplayDuration"/>
			</div>
			<p-divider/>
			<div class="column gap">
				<div class="row gap-small center">
					<p-check-box inputId="hasWipe" formControlName="hasWipe" [binary]="true"/>
					<label for="hasWipe">{{ t('input.has-wipe') }}</label>
				</div>
				<app-input-number-with-slider [childFormGroup]="formGroup" childFormControlName="wipeSpeed" [label]="t('input.wipe-speed')" [min]="minWipeSpeed" [max]="maxWipeSpeed" [defaultValue]="defaultWipeSpeed"/>
			</div>
			<p-divider/>
			<div class="row gap-small center">
				<p-check-box inputId="hasScroll" formControlName="hasScroll" [binary]="true"/>
				<label for="hasScroll">{{ t('input.has-scroll') }}</label>
			</div>
		</div>
	</div>
</app-dialog>
