<app-dialog *transloco="let t" [title]="t('title.raw-image-manager')" [(visible)]="rawImageManagerDialogVisible">
	<div header class="row gap center">
		@if (loading) {
			<p-progressSpinner [style]="{width: '2rem', height: '2rem'}"/>
		} @else {
			@if (state === 'success') {
				<p-message severity="success" icon="pi pi-check-circle">{{ t('message.file-upload-success') }}</p-message>
			} @else if (state === 'error') {
				<p-message severity="error" icon="pi pi-times-circle">{{ t('message.file-upload-error') }}</p-message>
			} @else if (state === 'invalidTypes') {
				<p-message severity="warn" icon="pi pi-exclamation-triangle">{{ t('message.invalid-file-types') }}</p-message>
			} @else if (state === 'deleteFailed') {
				<p-message severity="warn" icon="pi pi-exclamation-triangle">{{ t('message.delete-failed') }}</p-message>
			}
		}
		<p-button icon="pi pi-upload" [label]="t('upload-image')" [disabled]="loading" (onClick)="fileInput.click()"/>
		<p-button icon="pi pi-download" [label]="t('title.download-images-from-stop-reporter')" [disabled]="loading" (onClick)="this.stopReporterDialogVisible = true; this.rawImageManagerDialogVisible = false"/>
		<div></div>
	</div>

	<div content class="column gap wrapper">
		<div class="spacing wrapper" [style]="{boxShadow: 'inset 0 0 1rem ' + (dragging ? 'var(--p-button-text-primary-color)' : 'transparent')}" (dragover)="dragOver($event)" (dragleave)="dragging = false" (drop)="drop($event)">
			<app-image-gallery icon="pi pi-trash" (clickRawImage)="deleteRawImage($event)"/>
		</div>
	</div>

	<input #fileInput type="file" multiple hidden [accept]="allowedInput" (change)="upload(fileInput.files ?? undefined)"/>
</app-dialog>
<app-stop-reporter [(visible)]="stopReporterDialogVisible"/>
