.delete-button {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 0.1s;
	width: 100%;
	height: 100%;
}

.delete-button:hover {
	opacity: 1;
}
