<div *transloco="let t" class="column gap wrapper">
	<div class="spacing wrapper" [style]="{boxShadow: 'inset 0 0 1rem ' + (dragging ? 'var(--p-button-text-primary-color)' : 'transparent')}" (dragover)="dragOver($event)" (dragleave)="dragging = false" (drop)="drop($event)">
		<ng-content/>
	</div>
	<div class="row gap center">
		<p-button icon="pi pi-upload" [label]="t('upload-image')" [disabled]="loading" (onClick)="fileInput.click()"/>
		@if (loading) {
			<p-progressSpinner [style]="{width: '2rem', height: '2rem'}"/>
		} @else {
			@if (state === 'success') {
				<p-message severity="success" icon="pi pi-check-circle">{{ t('message.file-upload-success') }}</p-message>
			} @else if (state === 'error') {
				<p-message severity="error" icon="pi pi-times-circle">{{ t('message.file-upload-error') }}</p-message>
			} @else if (state === 'invalidTypes') {
				<p-message severity="warn" icon="pi pi-exclamation-triangle">{{ t('message.invalid-file-types') }}</p-message>
			}
		}
	</div>
</div>
<input #fileInput type="file" multiple hidden [accept]="allowedInput" (change)="upload(fileInput.files ?? undefined)"/>
