<div *transloco="let t" class="column gap">
	<div class="row gap-small center">
		<p-float-label class="spacing" variant="in">
			<p-input-number inputId="input" [min]="min" [max]="max" [(ngModel)]="value" (onInput)="change()" [disabled]="disabled()" [fluid]="true"/>
			<label for="input">{{ label }}</label>
		</p-float-label>
		<p-button icon="pi pi-undo" [rounded]="true" [text]="true" [pTooltip]="t('tooltip.reset')" tooltipPosition="bottom" (onClick)="value = defaultValue; change()" [disabled]="disabled()"/>
	</div>
	<div class="row gap-small">
		<div class="row gap spacing">
			<div></div>
			<p-slider class="slider" [min]="min" [max]="max" [(ngModel)]="value" (onChange)="change()" [disabled]="disabled()"/>
			<div></div>
		</div>
		<p-button icon="pi" [style]="{height: 0}" [rounded]="true" [text]="true"/>
	</div>
</div>
