.drag-content {
	position: absolute;
	transform: translate(-50%, -50%);
}

.drag-content.text {
	color: white;
	font-size: 0.8rem;
	opacity: 0.8;
	text-shadow: -1px -1px 0 black,
	0 -1px 0 black,
	1px -1px 0 black,
	1px 0 0 black,
	1px 1px 0 black,
	0 1px 0 black,
	-1px 1px 0 black,
	-1px 0 0 black;
	text-wrap: nowrap;
}

.drag-content.draggable {
	cursor: move;
}

.bar {
	background-color: white;
	border: 1px solid black;
	box-sizing: content-box;
	width: 1px;
}
